In [10]:
import pandas as pd

df = pd.read_csv("output.csv")

for col in df:
    for item in df[col]:
        item = "asdf"
        # temp = str(item)
        
        # print(temp, type(temp))
        # if temp == "nan": item = ""
        # print(item)
        break
    break

        
df.head()

,RecordType*,CustomerName*,InvoiceNumber*,Reference/Comment/Note,Product*,Quantity*,Price/Amount*,Discount,Tax,Total*,...,CustomField5,CustomField6,CustomField7,CustomField8,CustomField9,CustomField10,CarrierCode,CarrierServiceCode,ShipToContact,ShippingNotes
0,NaN,BUC-EE'S,NaN,NaN,NaN,NaN,46.8,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/10/2023-08/17/2023
1,NaN,BUC-EE'S,NaN,NaN,NaN,NaN,46.8,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
2,NaN,BUC-EE'S,NaN,NaN,NaN,NaN,93.6,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
3,NaN,BUC-EE'S,NaN,NaN,NaN,NaN,93.6,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-
4,NaN,BUC-EE'S,NaN,NaN,NaN,NaN,93.6,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/10/2023-08/17/2023